* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: black !important;
}

p {
	color: white;
}

#root {
	height: 100%;
}

h1 {
	color: white;
}

h3 {
	color: rgba(255, 255, 255, 0.747);
}

h4 {
	color: white;
	font-family: 'Times New Roman', Times, serif;
}

button {
	width: 100%;
}

.none {
	display: none !important;
}

.zipinput {
	margin-bottom: 10px;
}

.weatherbutton {
	display: block;
	margin-top: 8px;
}

.show {
	display: block;
	text-align: left;
}

.submit {
	margin-top: 10px;
}

.error {
	color: rgb(201, 20, 20);
}

.weathericon {
	width: 60px;
}

.forecast {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

