* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: black !important;
	color: white !important;
}

p {
	color: white;
}

#root {
	height: 100%;
}

h1 {
	color: white;
}

h4 {
	color: white;
	font-family: 'Times New Roman', Times, serif;
}

button {
	width: 100%;
}

.none {
	display: none !important;
}

.buttons {
	padding-top: 20px;
}

.zipinput {
	margin-bottom: 10px;
}

.city > h3 {
	padding-top: 20px;
}

.weatherbutton {
	display: block;
	margin-top: 8px;
}

.show {
	display: block;
	text-align: left;
}

.submit {
	margin-top: 10px;
}

.error {
	color: rgb(201, 20, 20);
}

.weathericon {
	width: 60px;
}

.forecast {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.temptable {
	margin-top: 30px;
}

.space {
	padding-left: 50px;
}

