* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: black !important;
	color: white !important;
}

p {
	color: white;
}

#root {
	height: 100%;
}

h1 {
	color: white;
}

h4 {
	color: white;
	font-family: 'Times New Roman', Times, serif;
}

button {
	width: 100%;
}

.none {
	display: none !important;
}

.buttons {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

.form-control {
	width: 350px !important;
	margin-left: auto;
	margin-right: auto;
}

.zipinput {
	margin-bottom: 10px;
}

.city > h3 {
	padding-top: 20px;
}

.weatherbutton {
	margin-top: 8px;
}

.show {
	text-align: left;
}

.submit {
	margin-top: 10px;
}

.error {
	color: rgb(201, 20, 20);
}

.weathericon {
	width: 60px;
}

.forecast {
	display: flex;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	flex-direction: column;
}

.temptable {
	margin-top: 30px;
	padding: 15px;
	padding-bottom: 10px;
}

th, td {
    border-width: 1px !important;
	padding: 10px;
}


